@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&display=swap');

/* 전체 */
body {
    margin: 0 auto;
    /* font: 15px/1.5 "Noto Sans KR", sans-serif; */
}

h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
}

ul {
    /* text-decoration: none; */
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #222;
}

.wrap {
    width: 1100px;
    margin: 0 auto;
}

/* 헤더 */
.sign_up {
    background: #f0eeee;
    width: 100%;
    height: 50px;
    font-size: 12px;
    line-height: 50px;
}

.sign_up ul {
    display: flex;
    justify-content: flex-end;
    padding-right: 450px;
}

.sign_up li {
    margin-left: 10px;
}

.header {
    display: flex;
    width: 1700px;
    height: 100px;
    line-height: 100px;
}
/* 로고 */
.logo {
    width: 200px;
    margin-left: 410px;
    line-height: 130px;
}
/* 내비게이션 */
.nav {
    display: flex;
    justify-content: space-around;
    width: 800px;
    padding-left: 126px;
}

.header li {
    margin-left: 20px;
}

/* 슬라이드 */
.slide {
    display: flex;
    width: 1300px;
    height: 600px;


}

/* 콘텐츠 */
.contents {
    width: 1300px;
    height: 250px;
    display: flex;
}

/* 공지사항 */
.notice h2 {
    border-bottom: 1px solid gray;
    padding-bottom: 16px;
    margin-top: 16px;
}

.notice ul {
    margin-top: 10px;
}

.notice span {
    display: inline-block;
    width: 350px;
    font-size: 14px;
    line-height: 30px;
}

.notice li {
    color: gray;
    font-size: 12px;
}

/* 바로가기 */
.shortcut {
    display: flex;
}

.card {
    width: 130px;
    height: 230px;
    margin: 10px 0 0 42px;
    border: 1px solid gray;
    text-align: center;
    font-size: 12px;
}

.icon {
    display: inline-block;
    padding-top: 40px;
    font-size: 48px;
    color: gray;
    margin-bottom: 10px;
}

.card p {
    padding-top: 10px;
}

.icon4 {
    display: inline-block;
    padding-top: 40px;
    font-size: 48px;
    color: rgb(6, 110, 247);
    margin-bottom: 10px;
}

.card4 {
    width: 130px;
    height: 230px;
    margin: 10px 0 0 35px;
    border: 1px solid rgb(6, 110, 247);
    text-align: center;
    font-size: 12px;
}

.card4 p {
    padding-top: 10px;
}

.card4 a {
    color: rgb(6, 110, 247);

}

/* 갤러리 */
.gallery {
    width: 100%;
    height: 380px;
    margin-top: 30px;
    text-align: center;
    background: rgb(236, 246, 255);
}


.gallery_list {
    padding-top: 20px;
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: center;
    text-align: left;
}

.gallery_card {
    background: #fff;
    width: 200px;
    height: 250px;
    font-size: 12px;
    margin-left: 10px;
}

.gallery_card h3 {
    margin-left: 10px;
    line-height: 40px;
}

.gallery_card p {
    margin-left: 10px;
    line-height: 24px;
}

.gallery span {
    color: gray;
}

/* 푸터 */
.footer {
    width: 100%;
    height: 150px;
    background: #3d3d3d;
}

.footer_top ul {
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.footer_top li {
    padding: 20px 0 0 30px;
}

.footer_top a {
    color: white
}

.footer_btm {
    width: 900px;
    margin: 0 auto;
    height: 89px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 24px;
    padding-top: 10px;
    color: gray;
    border-top: 1px solid gray;
    margin-top: 10px;
    text-align: center;
}

.footer_icon {
    display: flex;
    font-size: 24px;
}

.footer_icon ul {
    display: flex;
}

.footer_icon li {
    margin-left: 30px;
}

.footer_icon a {
    color: white;
}