@charset "utf-8";
/* 공통 */
* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body {
    font: 15px/1.6 '돋움', sans-serif;
    color:#333;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}
/* 전체 */
.wrap {
    display: flex;
    width: 1000px;
}
/* 헤더 */
header {
    width: 200px;
    height: 650px;
    background: #dddd;
}

header .inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    background: pink;
}

/* 로고 */
.logo {
    width: 200px;
    height: 40px;
}

/* 내비게이션 */
.gnb {
    position: absolute;
    right: 20px;
    width: 640px;
    height: 30px;
    text-align: center;
    align-self: flex-end;
}

/* 1depth: 메인메뉴 */
.gnb .main {
    display: flex;
}

/* 가상요소로 배경바 삽입 */
.gnb .main::before {
    content: "";
    background: rgba(157, 170, 188, 0.5);
    z-index: -1;
    position: absolute;
    right: -20px;
    top: 30px;
    width: 1200px;
    height: 0px;
    transition: .3s;
}
.gnb .main:hover::before {
    height: 150px;
}

.gnb .main>li>a {
    display: block;
    width: 160px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    background: #999;
}

.gnb .main>li>a:hover {
    background: #1A4975;
    color: #fff;
}

.gnb .main:hover .sub {
    height: 150px;
}

/* 2depth: 서브메뉴 */
.gnb .sub {
    height: 0;
    overflow: hidden;
    transition: .3s;
}

.gnb .sub::before {
    display: block;
    content: '';
    padding-top: 10px;
}

.gnb .sub>li>a {
    display: block;
    font-size: 14px;
}

.gnb .sub>li>a:hover {
    background: #474ead;
    color: #fff;
    text-decoration: underline;
}

.container {
    width: 800px;
}
/* 슬라이드 */
.slide {
    height: 350px;
    background: plum;

}
/* 콘텐츠 */

.contents {
    display: flex;
    height: 200px;
    background: lightgoldenrodyellow;
}
/* 탭 */
.tabs {
    width: 400px;
    background: lightgrey;
}
/* 공지사항 */
/* 갤러리 */
/* 배너 */
.banner {
    width: 200px;
    background: coral;
}
/* 바로가기 */
.link {
    width: 200px;
    background: aquamarine;
}
/* 푸터 */
footer {
    display: flex;
    height: 100px;
    background: #999;
}
/* 하단로고 */
.blogo {
    width: 200px;
    background: darkred;
}
.right {
    width: 800px;

}
/* 하단메뉴 */
.bmenu {
    height: 50px;
    background: khaki;
}
/* 주소 및 저작권 */
.copy {
    height: 50px;
    background: purple;
}
