@charset "utf-8";

* {
    margin: 0;
}

body {
    background: #fff;
    color: #333;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    height: 100px;
}

.logo {
    width: 200px;
    height: 40px;
}

.slide {
    height: 300px;
}
.contents{
    display: flex;
    height: 200px;
}
.notice,
.banner,
.shortcut{
    widgh: 400px;
}
.footer{
    display: flex;
    height: 100px
}